.honeycomb  { /* light */
  background: #e9ba2a;
}
.clementine { /* light-ish */
  background: #f0812b;
}
.slushie    { /* light */
  background: #5fb8dd;
}
.frosting   { /* medium (loud) */
  background: #ea0b8c;
}

.aloe   { /* dark */
  background: #50886b;
  color: white;
}
.berry  { /* dark */
  background: #508395;
  color: white;
}
.wasabi { /* medium */
  background: #9eae3d;
}
.grape  { /* dark */
  background: #92278f;
  color: white;
}
.spice  { /* medium */
  background: #eb3f3c;
}
.wine   { /* dark */
  background: #832e2f;
  color: white;
}

